/* RESET CSS  */

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}




h1,
h2,
p {
    color: white;
    font-size: 1em;
    text-transform: none;
    font-family: 'Barlow Condensed',sans-serif;
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}




#corpo-destination::-webkit-scrollbar{
    width: 5px;
}

#corpo-destination::-webkit-scrollbar-track{
  background-color: #222;
}
#corpo-destination::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 20px;
}

body{
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

#corpo-destination{
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 55px;
    margin-top: 40px;
}

.navbar::after {
    content: "";
    width: calc(100% - 900px);
    height: 1px;
    background-color: #fff;
    order: 2;
    flex-grow: 0;
    transform: translate(30px, 0px);
    display: block;
}

.logo {
    order: 1;
    flex-grow: 0;
    padding: 20px;
    cursor: pointer;
}

.hamburguer {
    display: none;
    order: 2;
    cursor: pointer;
    width: 200px;
    height: 100%;
    justify-content: end;
}

.close-hamburguer {
    display: none;
}

.list-menu {
    order: 3;
    display: flex;
    column-gap: 50px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px 0px;
    justify-content: center;
}

.list-menu li {
    font-size: 16px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.5px;
}

.items-da-list:nth-last-child(4):before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    transform: translate(0, 45px);
    display: block;
}

.items-da-list {
    cursor: pointer;
}

.items-da-list:nth-last-child(-n + 3)::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    transform: translate(0, 45px);
    display: block;
    transition: 0.4s;
    opacity: 0;
}

.items-da-list:nth-last-child(-n + 3):hover::before {
    opacity: 1;
    width: 100%;
    transition: 0.4s;
}


/* RESPONSIVIDADE NAVBAR  */

@media screen and (max-width: 768px) {
    .navbar {
        margin: 0;
        padding: 0 0 0 39px;
    }
    .navbar::after {
        display: none;
    }
    .list-menu {
        padding: 40px 30px;
        flex-grow: 0;
    }
    .items-da-list b {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    body {
        background-color: black;
    }
    .hamburguer svg{
        width: 30%;
        display: flex;
        justify-content: end;
    
    }
    .hamburguer {
        display: flex;
    }
    .navbar {
        padding: 20px;
    }
    .list-menu {
        flex-direction: column;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        justify-content: flex-start;
        row-gap: 30px;
        display: flex;
        width: 0%;
        opacity: 0;
        transition: 0.4s;
    }

    .list-menu.active {
        opacity: 1;
        width: 70%;
        transition: 0.4s;
    }

    .items-da-list:nth-last-child(n-3):before{
        display: none;
    }
    .items-da-list b {
        display: inline-block;
    }
    .close-hamburguer {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: flex-end;
        height: 40px;
        padding: 0px 30px;
        cursor: pointer;
      
    }
}


.landing-page{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    min-height: 90vh;
    padding-bottom: 90px;
    
    
}

.description{
    justify-content: flex-end;
   display: flex;
   flex-direction: column;
   padding:0 160px;

}

.description h2{
color:#D0D6F9 ;
font-family: "Barlow Condensed", sans-serif;
font-size: 28px;
letter-spacing: 4.72px;
margin-bottom: 20px;
}

.description h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 300;
   
    
}

.description p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px; 
    line-height: 32px;
    margin-top: 30px;
    font-weight: 100;
}

.button-explorer{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center
}

.btn{
    background-color: #fff;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 32px;
    font-family: 'Bellefair', serif;
    margin-bottom: calc(100vh - 95vh);
}

.btn::before{
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}

.button-explorer:hover .btn::before{
    opacity: 1;
    width: 450px;
    height: 450px;
}

@media only screen  and (max-width:1050px){
    body{
        background-image: url("/assets/home/background-home-tablet.jpg");
    }
    
    .landing-page{
        grid-template-columns: 100%;
        padding: 20px 30px;
        row-gap: 110px;
    }

    .description{
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .description p{ 
        text-align: center;
        width: calc( 100% - 130px);
        
    }

    .button-explorer{
        justify-content: center;
        align-items: center;
    }
    .btn{
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

@media only screen  and (max-width:550px){
  body {
      background-image: url("/assets/home/background-home-mobile.jpg");
  }
  .landing-page{
      row-gap: 20px;
  }
    .description h1 {
        font-size: 5em;
    }
    .description p{
        font-size: 1.4em;
        width: 100%;
    }

    .description h2{
        font-size: 1.1em;
    }

    .btn{
        width: 200px;
        height: 200px;
        font-size: 1.3em;
    }

    .button-explorer:hover .btn::before{
        width: 250px;
        height: 250px;
    }

    

}
/* 
==================> 
PAGINA DESTINATION 
 <=================  
 */

 @keyframes animation {
     0%{
         opacity: 0;
     }

     100%{
         opacity: 1;
     }
 }

 .principal{
     display: grid;
     grid-template-areas: 
     'cabecalho cabecalho'
     'planeta descricao-planeta';
     grid-template-rows: 2fr 5fr ;
     grid-auto-flow: column;
     grid-template-columns: 540px 500px;
     align-items: center;
     justify-content: center;
     padding: 0 10px;
     
     
     
 
 }
 .cabecalho-destino{
     grid-area: cabecalho;
     font-size: 1.3em;
     font-family: 'Barlow Condensed',sans-serif;
 }

 .cabecalho-destino h2{
    display: inline-block;
    font-size: 1.3em;
    letter-spacing: 4.22px;
    font-family: 'Barlow Condensed',sans-serif;
  
 }
 .cabecalho-destino span {
     color: rgba(255, 255, 255, 0.25);
     font-weight: 900;
     display: inline-block;
     font-size: 1.3em;
     margin-right: 20px;
 }
 .info-planet{
     grid-area: descricao-planeta;
     display: flex;
     row-gap: 30px;
     flex-direction: column;
     padding: 0 40px;
 }

 .planet {
     grid-area: planeta;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
 }

 .planet img {
    width: calc(100%-300px);
    animation: 1.5s animation;

   
 }
 .nome-planet h2{
     display: inline-block;
     font-size: 1em;
     margin-right: 15px;
     color: #D0D6F9;
     cursor: pointer;
     
 }
 .nome-planet h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    opacity: 0;
 }

 .nome-planet h2.after::after{
    opacity: 1;
    animation: 1.5s animation;
 }

.transição{
    animation: 1.5s animation;
}

 .titulo-descricao-planeta {
     margin-bottom: 20px;
     animation: 1.5s animation;
 }
 .titulo-descricao-planeta h2{
    font-size: 6.25em;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    animation: 1.5s animation;
    
 }

 .titulo-descricao-planeta p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.1em;
    color: #D0D6F9;
    line-height: 32px;
    animation: 1.5s animation;
 
 }

 .info-adicionais{
     border-top: 1px solid #979797;
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 30px 0;
     
 }

 .info-adicionais div {
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     animation: 1.5s animation;
     
 }

 .info-adicionais span:nth-child(1) {
    color:#D0D6F9;
    font-size: 0.9em;
    letter-spacing: 2.36px;
    font-family: 'Barlow Condensed',sans-serif;
    text-transform: uppercase;
   
  
 }

 .info-adicionais  span:nth-child(2){
    font-size: 1.625em;
    color: #fff;
    font-family: 'Ballefair';
    text-transform: uppercase;
    transition: 1s;
    animation: 1.5s animation;
    
 } 


 @media only screen and (max-width:1074px){

    .principal{
        width: 100%;
       grid-template-areas:
       'cabecalho cabecalho '
       'planeta planeta'
       'descricao-planeta descricao-planeta';
    justify-items: flex-start;
    align-items: center;
    grid-template-columns:100%;
    }

    .info-planet{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titulo-descricao-planeta{
        text-align: center;
        font-size: 0.9em;
    }

    .nome-planet{
        margin-top: 50px;
    }
    .info-adicionais {
       width: 100%;
        align-items: center;
        justify-content: center;
   
    }

    .info-adicionais div{
        width: 100%;
        align-items: center;
        justify-content: center;
        
        
    }
}
@media only screen and (max-width:500px){
    .principal{
        justify-items: center;
    }
    .info-adicionais{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .cabecalho-destino{
        font-size: 0.9em;
        align-items: center;
        justify-content: center;
    }

    .planet img{
        width: 300px;
    }
     .titulo-descricao-planeta{
        font-size: 0.8em;
    }
}
 












