/* RESET CSS  */

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}

h1,
h2,
p {
    color: white;
    font-size: 1em;
    text-transform: none;
}

li {
    list-style: none;
}

body {
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 55px;
    margin-top: 40px;
}

.navbar::after {
    content: "";
    width: calc(100% - 900px);
    height: 1px;
    background-color: #fff;
    order: 2;
    flex-grow: 0;
    transform: translate(30px, 0px);
    display: block;
}

.logo {
    order: 1;
    flex-grow: 0;
    padding: 20px;
}

.hamburguer {
    display: none;
    order: 2;
    cursor: pointer;
    width: 10%;
    height: 100%;
}

.close-hamburguer {
    display: none;
}

.list-menu {
    order: 3;
    display: flex;
    column-gap: 50px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px 0px;
    justify-content: center;
}

.list-menu li {
    font-size: 16px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.5px;
}

.items-da-list:nth-child(1)::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    transform: translate(0, 45px);
    display: block;
}

.items-da-list {
    cursor: pointer;
}

.items-da-list:nth-last-child(-n + 3)::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    transform: translate(0, 45px);
    display: block;
    transition: 0.4s;
    opacity: 0;
}

.items-da-list:nth-last-child(-n + 3):hover::before {
    opacity: 1;
    width: 100%;
    transition: 0.4s;
}


/* RESPONSIVIDADE NAVBAR  */

@media screen and (max-width: 768px) {
    .navbar {
        margin: 0;
        padding: 0 0 0 39px;
    }
    .navbar::after {
        display: none;
    }
    .list-menu {
        padding: 40px 30px;
        flex-grow: 0;
    }
    .items-da-list b {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    body {
        background-color: black;
    }
    .hamburguer {
        display: block;
    }
    .navbar {
        padding: 20px;
    }
    .list-menu {
        flex-direction: column;
        height: 100%;
        position: absolute;
        right: -500px;
        top: 0;
        justify-content: flex-start;
        row-gap: 30px;
        display: flex;
    }
    .items-da-list b {
        display: inline-block;
    }
    .close-hamburguer {
        width: 100%;
        display: flex;
        justify-content: right;
        padding-bottom: 10px;
    }
}